{{ define "main" }}
<!-- Header -->
<header id="portfolio">
  <div class="w3-container">
    <h1><b>My Portfolio</b></h1>
    <p class="w3-text-grey">Projects I'm proud of</p>
  </div>
</header>

<!-- Project Grid -->
<div class="w3-row-padding">
  {{ range where .Site.RegularPages "Section" "projects" }}
  <div class="w3-third w3-container w3-margin-bottom">
    <img src="{{ .Params.image }}" alt="{{ .Title }}" style="width:100%" class="w3-hover-opacity">
    <div class="w3-container w3-white">
      <p><b>{{ .Title }}</b></p>
      <p>{{ .Params.description }}</p>
      <a href="{{ .RelPermalink }}" class="w3-button w3-teal w3-small">Read more</a>
    </div>
  </div>
  {{ end }}
</div>

<!-- About Me Section -->
<div id="about" class="w3-container w3-padding-large" style="margin-bottom:32px">
  <h4><b>About Me</b></h4>
  <p>
    Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest in web development and creative design.
    I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
  </p>
  <p>
    <a href="/resume.pdf" download class="w3-button w3-dark-grey w3-padding-large w3-margin-top w3-margin-bottom">
      <i class="fa fa-download w3-margin-right"></i>Download Resume
    </a>
  </p>
  <hr>
</div>
{{ end }}
